body {
  max-width: 100%;
}

/* Adding font family to brand name */
.navbar-brand {
  font-family: "Libre Baskerville", serif;
  font-style: oblique;
  font-weight: 400;
}

/* Adding min-height to sections */

section {
  min-height: 100vh;
}
section#contact {
  min-height: 85vh;
}

/* Styling the hero section */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../asset/bg-gourmet.jpg);

  height: 93vh;
  background-size: cover;
  background-position: end;
}

/* Adding font family */
h2 {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-style: italic;
}

.store_hours {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 300;
}
